AWSTemplateFormatVersion: '2010-09-09'
Description: Raw .template extension to satisfy fingerprint primary_content.

Resources:
  LogBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: tiny-fixture-logs
